.van-button__content span{
    font-size: 18px !important;
}

.van-dialog__content{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}


.amap-control.amap-geolocation{
    bottom: 70px !important;
}